In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
#reading the excel file
df = pd.read_excel('C:/Users/Priyanka C/Desktop/KPMG Virtual Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name=2, header = 0)

C:\Users\PRIYAN~1\AppData\Local\Temp/ipykernel_14244/415698827.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df = pd.read_excel('C:/Users/Priyanka C/Desktop/KPMG Virtual Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name=2, header = 0)

In [37]:
df.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [39]:
#storing the value of dataframe in another variable to perform EDA
df1 = df

In [41]:
#checking for null values
df1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [44]:
#We will drop the column if more than half values are missing
drop_val = df1.shape[0]*0.5
df1 = df1.dropna(thresh = drop_val, how = 'all', axis = 'columns', inplace = False)

In [45]:
#dropping the column with unnecessary data: default
del df1["default"]

In [46]:
#making sure that customer_id has only integer values
df1['customer_id'] = df1['customer_id'].astype('int64')

In [47]:
#making sure that gender is only a category
df1['gender'] = df1['gender'].astype('category')

In [48]:
#checking the values present in gender column
df1['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [49]:
#replacing all values to either male or female
df1['gender'].replace({'M': "Male", 'F': "Female", 'Femal': "Female"}, inplace = True)

In [50]:
df1['gender'].value_counts()

Female    2039
Male      1873
U           88
Name: gender, dtype: int64

In [51]:
# fill the missing values
df1['job_title']= df1['job_title'].fillna(method='bfill')

In [52]:
# check the frequency of job industries
df1['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [53]:
# fill the missing values
df1['job_industry_category']= df1['job_industry_category'].fillna(method='ffill')

In [58]:
#making sure DOB is in the right format
df1['DOB'] = df1['DOB'].dt.date

In [64]:
df1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [65]:
#converting to boolean data type
df1['deceased_indicator'].replace({'N': False, 'Y': True}, inplace = True)

In [67]:
#converting to boolean data type
df1['owns_car'].replace({'No': False, 'Yes': True}, inplace = True)

In [68]:
#calculate the median value of tenure for the null values
np.nanmedian(df1['tenure'])

11.0

In [69]:
# filling in the missing value for tenure
df1['tenure'].fillna(value = 11.0, inplace = True)

In [70]:
# make sure that the column names are in the correct format
df1.columns = map(str.lower, df1.columns)
df1.columns = map(str.strip, df1.columns)

In [71]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   dob                                  3913 non-null   object
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   bool
 10  owns_car                             4000 non-null   bool
 11  tenure                               4000 non-null   float64
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 320.4+ KB

In [72]:
df1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,True,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,False,True,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,False,True,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,Senior Editor,IT,Mass Customer,False,False,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,IT,Affluent Customer,False,True,8.0

In [77]:
#saving the csv file
df1.to_csv('C:/Users/Priyanka C/Desktop/KPMG Virtual Internship/sheet_2_cleaned.csv',index=False)